<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Admin</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Chào mừng đến với trang quản trị hệ thống của Admin</h1>
    <div class="row">
        <!-- 1/4 bên trái: Thanh điều hướng -->
        <nav class="col-md-3">
            <div class="list-group">
                <a class="list-group-item " href="/admin">Trang Quản Trị</a>
                <a class="list-group-item " href="/admin/user">Quản Lý Người Dùng</a>
                <a class="list-group-item " href="/admin/product">Quản Lý Sản Phẩm</a>
                <a class="list-group-item " href="/admin/order">Quản Lý Đơn Hàng</a>
            </div>
        </nav>

        <!-- 3/4 bên phải: Nội dung hiển thị -->
        <div class="col-md-9">
            <div id="content-area">
                <div class="container mt-4">
                    <h2>Thông tin Sản Phẩm</h2>
                    <div class="card p-4">
                        <div class="row mb-2">
                            <img class="col-md-6" th:src="${product.image}" alt="Product Image"/>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">ID:</div>
                            <div class="col-md-9" th:text="${product.id}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Category:</div>
                            <div class="col-md-9" th:text="${product.category}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Brand:</div>
                            <div class="col-md-9" th:text="${product.brand}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Name:</div>
                            <div class="col-md-9" th:text="${product.name}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Gender:</div>
                            <div class="col-md-9" th:text="${product.gender}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Price:</div>
                            <div class="col-md-9" th:text="${product.price}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Color:</div>
                            <div class="col-md-9" th:text="${product.color}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Size:</div>
                            <div class="col-md-9" th:text="${product.size}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Discount:</div>
                            <div class="col-md-9" th:text="${product.discount}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Description:</div>
                            <div class="col-md-9" th:text="${product.description}"></div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 font-weight-bold">Quantity:</div>
                            <div class="col-md-9" th:text="${product.quantity}"></div>
                        </div>
                    </div>
                    <a th:href="@{/admin/product/update/{id}(id=${product.id})}" class="btn btn-warning btn-sm">Update</a>
                    <button type="button" class="btn btn-danger btn-sm" th:onclick="'deleteProduct(' + ${product.id} + ')'">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Thêm Bootstrap JS và jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js"></script>

<script>
    function deleteProduct(productId) {
        console.log(typeof productId)
        if (confirm('Are you sure you want to delete this product?')) {
            $.ajax({
                url: '/admin/product/delete/' + productId, // Đường dẫn đến API xóa người dùng
                type: 'DELETE', // Phương thức HTTP DELETE
                success: function(result) {
                    // Xử lý thành công
                    alert('Product deleted successfully!');
                    window.location.href = '/admin/product'; // Tải lại trang để cập nhật danh sách
                },
                error: function(xhr, status, error) {
                    // Xử lý lỗi
                    alert('Error deleting product: ' + xhr.responseText);
                }
            });
        }
    }
</script>

</body>
</html>
